html{
  scroll-behavior: smooth;
  width: 100vw;
  height: 100vh;
}

body{
/*  width: 100%; */
margin-bottom: 80px;
font-family: "Roboto", "Arial", sans-serif;
font-weight: 400;

}


header{

  margin-bottom: 10em;
  text-align: center;
  
  
}

header h1{
  
font-family: "Poppins", "Segoe UI", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
 
}

.instructions{
  font-weight: 200;
  font-size: 1.1em;
}

header p{
  font-size: 0.95rem;
}

.istructions span{
  font-weight: 600;
}


fieldset{
  margin-top: 4em;
  border: .5px solid lightgray;
}

/*
div{
  margin-bottom: 1.5em;
}*/





.div{
  margin-top: 1.5em;
  display: grid;
  grid-template-columns: 1fr;
  gap: .5em;
}

div{
  margin-bottom: 1.5em;
}

label,
div p{
  font-weight: 500;
  font-size: 1.3em;
}

.div input{
  min-height: 50px;
}
.fieldset-3 input{
  margin-right: 7em;
}

input:hover{
  cursor: pointer;
}

input::placeholder{
  font-size: 1rem;
}


.button-wrapper{
  margin-top:  2em;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}



button{
  text-align: center;
  min-height: 3em;
  padding: .5em;
  width: 120px;
  font-weight: 600;
  font-size: 1em;
  border: none;
  transition: background 0.3s ease;
}

.reset-btn{
  background: #BB2309;
  color: #fff;
}

.reset-btn:hover,
.reset-btn:focus{
  background: #A61A01;
  cursor: pointer;
  
}

.reset-btn:active{
  background: #591205;
}


.submit-btn{
  background: #2111FF;
  color: #fff;
}


.submit-btn:hover,
.submit-btn:focus{
  cursor: pointer;
  background: #1408AE;
  cursor: pointer;
}


.submit-btn:active{
  background: #0F0780;
}

footer{
  margin-top: 400px;
  text-align: center;
  font-weight: 600;
  border-bottom: 2px solid gray;
}




